---
title: Homepage
---
<div class="row">
	<div class="columns">
		<p class="intro">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sed obcaecati voluptatum, natus nulla ad! Quod voluptate pariatur nihil ipsum quia? Inventore quam enim est at quas quibusdam. Qui, neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sed obcaecati voluptatum, natus nulla ad! Quod voluptate pariatur nihil ipsum quia? Inventore quam enim est at quas quibusdam. Qui, neque.
		</p>
	</div>
</div>
<div class="row">
	<div class="columns">
		<% blog.articles.each do |article| %>
		<article>
			<img src="http://lorempixel.com/900/600/food">
			<h2>
				<a href="<%= article.url %>"><%= article.title %></a>
			</h2>
			<time><%= article.date.strftime('%b %e, %Y') %></time>
			<%= article.summary %>
			<div class="row align-middle align-justify">
				<div class="shrink columns">
					<a href="<%= article.url %>" class="hollow button">Read more</a>
				</div>
				<div class="shrink columns">
					<div class="sharing">
						<a class="sharer social-button facebook" data-sharer="facebook" data-url="<%= article.url %>">
							<span class="ion-social-facebook"></span>
						</a>
						<a class="sharer social-button twitter" data-sharer="twitter" data-title="<%= article.title %>" data-hashtags="<%= article.data.hashtags %>" data-url="<%= article.url %>">
							<span class="ion-social-twitter"></span>
						</a>
						<a class="sharer social-button whatsapp" data-sharer="whatsapp" data-title="<%= article.title %>"" data-url="<%= article.url %>">
							<span class="ion-social-whatsapp"></span>
						</a>
						<a class="sharer social-button email" data-sharer="email" data-title="<%= article.title %>"" data-url="<%= article.url %>" data-subject="Hey! Check out that URL" data-to="some@email.com">
							<span class="ionicons ion-at"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="row border-top">
				<div class="columns">
					Category:
					<% article.tags.each do |tag| %>
						<span class="label"><%= tag %></span>
					<% end %>
				</div>
			</div>
		</article>
		<% end %>
	</div>
	<div class="small-12 medium-3 columns categories">
		<% blog.tags.each do |tag, articles| %>
		<ul>
			<li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
		</ul>
		<% end %>
	</div>
</div>
